/* 
    Document   : footer
    Created on : 01/02/2011, 10:24:40
    Author     : PRPPG-E-4
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

div#footer {
    background: #1E68BF;
    width: 100%;
}

div#footer_content img{
    border: 0;
}

div#footer_content {
    width: 940px;
    margin: auto;
    height: 54px;
    padding: 18px 0 8px 0;
}

div#footer_logo {
    float: left;
    clear: both;

}

div#footer_content p {
    color: #FFF;
    float: left;
    padding: 29px 0 8px 85px;
    text-shadow: 0px 0px 0.1em #003859;
}

h2#wordpress {
    float: right;
    margin-left: 80px;
    background: url("../img/wordpress.png") top no-repeat #1E68BF;
    height: 50px;
    width: 81px;
    cursor: pointer;
}